<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="2018.2.1" targetFramework="net472" />
  <package id="JJ.Framework.Business" version="1.7.7796.35242" targetFramework="net472" />
  <package id="JJ.Framework.Collections" version="1.7.7796.35246" targetFramework="net472" />
  <package id="JJ.Framework.Common" version="1.7.7796.35241" targetFramework="net472" />
  <package id="JJ.Framework.Drawing" version="1.7.7798.30604" targetFramework="net472" />
  <package id="JJ.Framework.Exceptions" version="1.7.7796.35243" targetFramework="net472" />
  <package id="JJ.Framework.Logging" version="1.7.7798.30603" targetFramework="net472" />
  <package id="JJ.Framework.Mathematics" version="1.7.7796.35247" targetFramework="net472" />
  <package id="JJ.Framework.PlatformCompatibility" version="1.7.7796.35242" targetFramework="net472" />
  <package id="JJ.Framework.Presentation" version="1.7.7796.35245" targetFramework="net472" />
  <package id="JJ.Framework.Reflection" version="1.7.7796.35242" targetFramework="net472" />
  <package id="JJ.Framework.Text" version="1.7.7796.35241" targetFramework="net472" />
  <package id="JJ.Framework.VectorGraphics" version="1.7.7805.36885" targetFramework="net472" />
  <package id="JJ.Framework.WinForms" version="1.7.7805.36885" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>